/*
 *= require_self
 *= require_tree .

body
  padding: 0px 100px

#error_explanation
  font-size: 8pt
  color: red

.mandatory_attributes
  font-size: 8pt
  color: red
.field input[type="text"]
  height:  auto
  padding:  5px 5px
.field input[type="number"]
  height:  auto
  padding:  5px 5px
.field input[type="password"]
  height:  auto
  padding:  5px 5px
.field input[type="email"]
  height: auto
  padding: 5px 5px
textarea
  max-height: 300px
