/*
 *= require_self
 *= require_tree .

@font-face
  font-family: micfont
  src: url(PFBeauSansPro-Light.ttf)

body
  font-family: micfont

.title
  font-size: 20pt
  border-bottom: 1px lightgrey solid
  margin-bottom: 2%

input[type="submit"]
  background-color: lightgrey
  padding: 14px
  padding-bottom: 13px
  box-sizing: inherit
  border: none
  font-size: 12pt
  cursor: pointer
  font-family: micfont

input[type="submit"]:hover
  background-color: grey
  color: white

input
  font-family: micfont

select
  font-family: micfont

.field select
  float: left
  width: 25%
  margin-right: 65%
  margin-left: 1%
  padding: 5px
  margin-bottom: 10px

.field input[type="text"]
  float: left
  margin-bottom: 10px
  margin-left: 1%
  width: 25%
  margin-right: 65%

.field
  text-align: right

.field label
  margin-top: 5px
  float: left
  width: 9%

.link
  cursor: pointer

.btn
  background-color: lightgrey
  padding: 15px
  text-decoration: none
  color: black

.btn:hover
  background-color: grey
  font-color: whitee !important
  color: white
  font-style: normal

.header
  float: left
  height: 18%
  margin-bottom: 10px
  margin-left: -10px
  width: 100%
  border: black 1px

.logo
  float: left
  height: 100%
  width: 10%
  background-image: url(logo-mic.png)
  background-size: auto 98%
  background-position: center 2%
  background-repeat: no-repeat

.sign_in_button
  float: right
  margin-top: -5%

.sign_out_button
  float: right
  margin-top: -7%

.current_member_name
  float: left
  height: 30%
  width: 100%

.main_content
  float: left
  width: 70%
  height: auto

.left_column_content
  margin-left: 1%
  float: left
  width: 29%
  height: auto

.footer
  position: absolute
  bottom: 0px
  width: 100%
  height: 10%
  margin-left: 10px

.footer_title
  text-align: center
  font-size: 15pt

.footer_list_links
  margin-top: 10px

.footer_list_links_item
  float: left
  width: 33%

.social_buttons
  float: left
  width: 33%
  height: 100%

.about_us
  float: left
  width: 33%
  height: 100%

.contacts
  float: left
  width: 33%
  height: 100%

.social_button_logo
  float: left
  width: 15%
  height: auto
  margin-right: 5px

#error_explanation
  font-size: 8pt
  color: red
.mandatory_attributes
  font-size: 8pt
  color: red
.field input[type="text"]
  height:  auto
  padding:  5px 5px
.field input[type="number"]
  height:  auto
  padding:  5px 5px
.field input[type="password"]
  height:  auto
  padding:  5px 5px
.field input[type="email"]
  height: auto
  padding: 5px 5px
textarea
  max-height: 300px
.mini-thumb
  width: 50px
  height: 50px
  float: left
  margin: 2px
.member-link
  border-radius: 7px
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  -khtml-border-radius: 7px
  &:hover
    background-color:  lightblue

.mini
  width: 50px
  height: 50px

.vk
  background-image: url(social/vk.png)

.facebook
  background-image: url(social/facebook.png)

.twitter
  background-image: url(social/twitter.png)

.gplus
  background-image: url(social/gplus.png)

.youtube
  background-image: url(social/youtube.png)

.github
  background-image: url(social/github.png)

.foursquare
  background-image: url(social/4sq.png)

.there_is_margin
  margin-top: 30px
  margin-left: 20px
