.header
  .logo
  = render "layouts/events_photo_style"
  .events_photo
    #events_photo_text
      %h3
        = last_event_title
      = last_event_description_lead
      %br
      = last_event_date
