%h1
  = t('members')
%ul.thumbnails
  - @members.each_with_index do |member, i|
    - if index_multiple_four?(i)
      %hr
    %li.span3.member_cell
      .thumbnail.height_thumbnail
        %a{ href: member_path(member) }
          = image_tag member.photo.big_thumb
        %h3= member.fio
        %p= member.post
        %br
        %a.btn.btn-medium{ href: member_path(member) } Подробнее
